# Kafka / KRaft
KAFKA_CLUSTER_ID=ch-olap-kraft-cluster-01
KAFKA_BROKER_ID=1
KAFKA_NODE_ID=1
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092

# ClickHouse
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=analytics
CLICKHOUSE_PASSWORD=change-me
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

# PostgreSQL source
PG_HOST=postgres-source
PG_PORT=5432
PG_DB=appdb
PG_USER=debezium
PG_PASSWORD=change-me
PG_PUBLICATION=dbz_publication
PG_SLOT=dbz_slot

# MySQL source
MYSQL_HOST=mysql-source
MYSQL_PORT=3306
MYSQL_DB=shop
MYSQL_USER=debezium
MYSQL_PASSWORD=change-me

# SQL Server source
MSSQL_HOST=sqlserver-source
MSSQL_PORT=1433
MSSQL_DB=erp
MSSQL_USER=debezium
MSSQL_PASSWORD=change-me

# Kafka Connect
CONNECT_REST_PORT=8083
CONNECT_GROUP_ID=1
CONNECT_CONFIG_TOPIC=connect-configs
CONNECT_OFFSET_TOPIC=connect-offsets
CONNECT_STATUS_TOPIC=connect-status

# Schema Registry
SCHEMA_REGISTRY_PORT=8081

# Kafka UI
KAFKA_UI_PORT=8080

# ClickHouse HTTP
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000

# Topic prefix
TOPIC_PREFIX=oltpdemo

# Tables regex examples
PG_TABLE_INCLUDE=public.customers,public.products,public.orders
MYSQL_TABLE_INCLUDE=shop.customers,shop.products,shop.orders
MSSQL_TABLE_INCLUDE=dbo.Customers,dbo.Products,dbo.Orders

# Host-exposed ports
HOST_KAFKA_PORT=9092
HOST_CONNECT_PORT=8083
HOST_SCHEMA_REGISTRY_PORT=8081
HOST_KAFKA_UI_PORT=8088
HOST_CLICKHOUSE_HTTP_PORT=8123
HOST_CLICKHOUSE_NATIVE_PORT=9000
HOST_CH_UI_PORT=8124
