{
  "name": "mongodb-source",
  "config": {
    "connector.class": "io.debezium.connector.mongodb.MongoDbConnector",
    "tasks.max": "1",
    "topic.prefix": "${TOPIC_PREFIX:-oltpdemo}",
    "table.include.list": "${MONGODB_TABLE_INCLUDE}"
  }
}
